/* Add New User*/
#main .card-body {
    padding: 0 18px 20px 18px !important;
}

/* Add - Edit Form */

#addEditForm label {
    width: 195px !important;
    font-size: 14px !important;
    background-color: var(--blue-color);
    color: #fff;
}

#addEditForm input, #addEditForm select {
    background-color: whitesmoke;
    border: none;
    box-sizing: border-box;
}

#addEditForm input:focus + i + .separator {
    transform: scaleX(1) translateY(-2px);
    opacity: 1;
}

.separator {
    height: 2px;
    width: calc(100% - 167px);
    background: var(--blue-color);
    display: block;
    transform: scaleX(0) translateY(-2px);
    transform-origin: 50%;
    opacity: 0;
    transition: all 0.15s ease-out;
    position: absolute;
    bottom: -1px;
    right: 0;
    z-index: 10;
}

#registerBtn,
#updateBtn,
#deleteBtn,
#cancelBtn {
    padding: 10px 50px;
}

/* Validate */
#nameMsg,
#emailMsg,
#roleMsg,
#passwordMsg,
#passwordConfirmationMsg,
#deleteErrorMsg {
    border-radius: 0px !important;
}