<div class="input-group mb-3 mr-5">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%= fieldName%></span>
    </div>
    <div class="center-content">
        <%= value? value : ''%>
    </div>
</div>