<div class="align-items-center title-search-condition d-flex">
  <span style="margin-left: 0px;"><%- title %></span>
</div>

<section>
  <p><%- content%></p>
</section>

<%- contentFor('displayId') %>
ERR
<%- contentFor('pageTitle') %>
エラー | 電子契約用メールアドレス登録システム