<link rel="stylesheet" href="/asset/css/pages/addEditDeleteUser.css" />

<div id="main" class="main">
  <div class="card">
    <div class="card-body mb-2">
      <h3 class="card-title pt-md-5 pb-md-3 mb-0 text-center">
        アクセス権限がありません。
      </h3>
    </div>
  </div>
</div>

<%- contentFor('pageTitle') %> アクセス権限がありません。
