<!-- Header -->
<header>
  <div id="header">
    <header class="navbar navbar-expand-md fixed-top">
      <div  class="container">
        <ul class="nav navbar-nav mx-auto">
          <li class="nav-item header-title"><%= typeof headerTitle !== 'undefined' ? headerTitle : '' %></a></li>
        </ul>
      </div>
      <div class="user-info d-none d-lg-flex align-items-center ml-3 item-icon-header">
          <div class="ml-15px text-header">
            <% if (loginUser) { %>
              <ul class="navbar-nav">
                <li class="cursor-pointer header-username">
                  <a id="navbarDropdownUser" >
                      <%= loginUser.name %>
                  </a>
                </li>
                <li class="cursor-pointer">
                  <a href="/logout?redirect=<%= logoutRedirect %>" type="button" class="button btn-logout" onclick="return logout();">Logout</a>
                </li>
              </ul>
            <% } else { %>
              <a href="/login" style="color: #01a2e7; line-height: 40px; text-decoration: none;">Login</a>
            <% } %>
          </div>
      </div>
  </header>
  </div>
</header>