<!-- Header -->
<header>
  <div id="header">
    <header class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand" href="#"></a>
      <div class="user-info d-none d-lg-flex align-items-center ml-3 item-icon-header">
          <div class="ml-15px text-header header-username">
          </div>
      </div>
  </header>
  </div>
</header>