<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <!-- User List -->
    <li class="nav-item">
      <a class="nav-link" href="/user/list">
        <i class="fa-solid fa-list"></i>
        <span>User List</span>
      </a>
    </li>
  </ul>
</aside>
<!-- End Sidebar-->